# This is a basic workflow to help you get started with Actions

name: Publish to chrome extension

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - uses: actions/cache@v1
        id: cache-dependencies
        with:
          path: '.'
          key: ${{ github.sha }}

  build:
    runs-on: ubuntu-latest
    needs: dependencies
    steps:
      - uses: actions/cache@v1
        id: restore-dependencies
        with:
          path: '.'
          key: ${{ github.sha }}
      - name: Build & Zip
        run: npm run dist
  
  publish:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Chrome Extension upload & publish
        run: |
          ACCESS_TOKEN=$(curl "https://accounts.google.com/o/oauth2/token" -d "client_id=${CLIENT_ID}&client_secret=${CLIENT_SECRET}&refresh_token=${REFRESH_TOKEN}&grant_type=refresh_token&redirect_uri=urn:ietf:wg:oauth:2.0:oob" | jq -r .access_token)
          curl -H "Authorization: Bearer ${ACCESS_TOKEN}" -H "x-goog-api-version: 2" -X PUT -T ~/dist-zip/code-gen.zip -v "https://www.googleapis.com/upload/chromewebstore/v1.1/items/${APP_ID}"
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          APP_ID: ${{ secrets.APP_ID }}